<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block my-4">
    <%= form.label :content, "Secret Message Content", class: 'text-gray-700' %>
    <%= form.text_area :content, class: 'form-textarea mt-1 block w-full' %>
    <p class='text-gray-600 text-sm'><%= t '.content_help_text' %></p>
  </div>

  <div class="actions">
    <%= form.submit t('.submit'), class: 'block w-full bg-teal-500 text-teal-100 rounded px-2 py-2' %>
  </div>
<% end %>
